.christ {
  color: darkblue;
  font-size: 80px;
  text-align: center;
}

.rotate {
  display: inline-block;
  color: brown;
  transform: rotateY(180deg)
}

.christ-rotate {
  display: inline-block;
  transform: rotatez(45deg) rotatex(180deg);
  padding: 15px;
}